    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>About Dr. Simmons</h1>
              <br/>
                <h4>Dr. Aneika Simmons is an Associate Professor at Sam Houston State University. Her research interests are primarily related to creative performance, fairness, diversity issues, and individual differences.  Dr. Simmons teaches courses about teamwork, leadership, organization behavior, and human resources at Sam Houston State University.  She completed her doctorate degree in Organizational Behavior and Human Resources at Texas A&M University.  Prior to pursuing her PhD, Dr. Simmons worked for Accenture and Cap Gemini Ernst and Young as an information technology consultant.  She also has a Master’s degree in Organizational Communication from the University of Houston. As a professor, she presents her research at both domestic and international academic conferences.</h4>
                <br/>
              </div>
        </div>
    </section>
